@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  color: #384047;
}

form {
  max-width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  max-width: 300px;
}

.registerH1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #000000;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #e1ae07;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #037405;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

/* .number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
} */

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}



section {
  text-align: center;
  padding: 40px 0;
  background: #EBF0F5;
  height: 800px;
  align-items: center;
  width: 100%;
}
  .success {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
  p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
  }
i {
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
}
/* .card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #C8D0D8;
  display: inline;
  margin: 0 auto;
  width: 100%;
} */
.cond2Div {
  border-radius:200px; 
  height:200px; 
  width:200px; 
  background: #F8FAF5; 
  margin:0 auto;
  margin-top: 30%;
}


.students{
  margin-left: 0.8rem;
}
.students input{
  padding: 0.5rem;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}
.students td {
  padding: 1rem;
}
.students table{
  margin-top: 2rem;
  margin-left: 1rem;
}
.students th {
  transition: all 0.3s ease-out;
  box-shadow: 5px 8px 25px rgba(0, 0, 0, 0.083);
  padding: 1rem 2rem ;
  background-color: white;
}
.students{
        margin-left: 2rem;
        height: 100vh;
        overflow: scroll;
} 

@media screen and (max-width: 900px) {
  .schoolHome{
      margin-left: -4rem;
  }
  .flexthree{
      flex-direction: column;
  }
  .flexAll{
      flex-direction: column;
  }
  .people{
      width: 70%;
  }
  .sideBar{
      font-size: 0.8rem;
      width: 60%;
  }
  .students{
      margin-left: 1rem;
      height: 100vh;
      overflow: scroll;
  }
  .students th{
      padding: 0.3rem 0.7rem;
      font-size: 12px;
  }
  .students table{
      margin-left: -0.5rem;
  }
  .students td{
      padding: 0.5rem;
      font-size: 10px;
  }
}